<html ng-app="CheatsheetApp">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="cs_style.css">
    <script src="./lib/angular.min.js"></script>
    <script src="cheatsheet.js"></script>
  </head>
  <body ng-controller="CheatsheetController">
    <table class="container">
      <tr class="row clearfix">
        <td colspan=4>
          <h1>JAVASCRIPT COMMON METHODS CHEATSHEET</h1>
          <div class="legend clearfix">
            <div class="key-box method property">.property</div>
            <div class="key-box method">.method()</div>
            <div class="key-box info">Normal</div>
            <div class="key-box info experimental">Experimental</div>
            <div class="key-box info mutator">Mutator *</div>
          </div>
          <div class="instructions">* changes array in place</div>
          <div class="instructions">Click column header to see only methods/properties of that data type.</div>
          <div class="instructions">Click example box to go to MDN documentation page for that method/property.</div>
        </td>
      </tr>
      <tr class="row clearfix">
        <td class="heading blank">

        </td>
        <td class="heading string" ng-click="toggleStringOnly()" ng-class="{ highlighted: stringOnly }">
          <span class="heading-text">String</span>
        </td>
        <td class="heading array" ng-click="toggleArrayOnly()" ng-class="{ highlighted: arrayOnly }">
          <span class="heading-text">Array</span>
        </td>
        <td class="heading object" ng-click="toggleObjectOnly()" ng-class="{ highlighted: objectOnly }">
          <span class="heading-text">Object</span>
        </td>
      </tr>
      <tr class="row clearfix" ng-repeat="method in methods" ng-show="
        (!stringOnly && !arrayOnly && !objectOnly) || (method.string && stringOnly) || (method.array && arrayOnly) || (method.object && objectOnly)">
        <td class="method" ng-class="{property: method.property}">
          <span class="method-text" ng-show="!method.property">.{{method.name}}()</span><span class="method-text" ng-show="method.property">.{{method.name}}</span>
        </td>
        <td class="info" ng-click="redirectTo('String/'+method.name)" ng-class="{experimental: method.string.experimental, na: !method.string}">
          <span class="info-text">{{method.string && method.string.code || '&nbsp;'}} <span class='comment'>{{method.string.comment}}</span></span>
        </td>
        <td class="info" ng-click="redirectTo('Array/'+method.name)" ng-class="{experimental: method.array.experimental, mutator: method.array.mutator, na: !method.array}">
          <span class="info-text">{{method.array && method.array.code || '&nbsp;'}} <span class='comment'>{{method.array.comment}}</span></span>
        </td>
        <td class="info" ng-click="redirectTo('Object/'+method.name)" ng-class="{experimental: method.object.experimental, na: !method.object}">
          <span class="info-text">{{method.object && method.object.code || '&nbsp;'}} <span class='comment'>{{method.object.comment}}</span></span>
        </td>
      </tr>
      <tr><td colspan=4>
        <div></div>
      </td></tr>
    </table>
  </body>
</html>